<%- include("./js/head.ejs") %>
  <div class="container">
    <section id="content">
      <form action="/forget/change" method="post">
        <h1>Đặt lại mật khẩu</h1>
        <% if (data && data.error) { %>
          <div style="text-align: center;" class="error">
            <span>
              <%= data.error %>
            </span>
          </div>
          <% } %>
            <div class="icon">
              <span><i class="fa-regular fa-envelope fa-2xl"></i></span>
              <div class="email">
                <%=email%>
              </div>
            </div>
            <div class="icon wrapper-otp">
              <span style="left: 20px; top: 14px;">
                <i class="fa-solid fa-lock fa-2xl"></i>
              </span>
              <input type="password" name="password" placeholder="Mật khẩu" id="password"  autofocus/>
            </div>
            <div class="icon wrapper-otp">
              <span style="left: 20px; top: 14px;">
                <i class="fa-solid fa-lock fa-2xl"></i>
              </span>
              <input type="password" name="confirmPassword" placeholder="Xác thực mật khẩu" id="confirmPassword" />
            </div>
            <div>
              <input id="btnNext" type="submit" value="Tiếp tục" />
            </div>
      </form>
      <!-- form -->
      <div class="button">
        <span>Khách hàng</span>
      </div>
      <!-- button -->
    </section>
    <!-- content -->
  </div>
  <!-- container -->
  <script>
    const active = () => {
      document.getElementById("btnNext").style.background = "rgb(48, 165, 255)";;
      document.getElementById("btnNext").style.border = "1px solid #2494d5";
      document.getElementById("btnNext").style.cursor = "pointer";
    }
    const noActive = () => {
      document.getElementById("btnNext").style.background = "#ddd";;
      document.getElementById("btnNext").style.border = "1px solid";
      document.getElementById("btnNext").style.cursor = "no-drop";
    }

    let flag = false;
    let flagTwo = false;
    const password = document.getElementById("password")
    const cfmPass = document.getElementById("confirmPassword")
    password.onkeyup = (e) => {
      if (e.target.value)
        flag = true;
      else flag = false;
      if (e.target.value && flagTwo) {
        active()
      } else noActive();
    }
    cfmPass.onkeyup = (e) => {
      if (e.target.value && flag) {
        active()
      }
      else {
        noActive();
      }
      if (e.target.value) {
        flagTwo = true;
      } else flagTwo = false;
    }

    document.getElementById("btnNext").onclick = (e) => {
      if (!flag || !flagTwo) {
        e.preventDefault();
      }
      else {
        document.getElementById("btnNext").style.cursor = "pointer";
      }
    }

  </script>
</body>

</html>