<%- include("./js/head.ejs") %>

  <div class="container">
    <section id="content">
      <form method="post">
        <h1>Quên mật khẩu</h1>
        <% if (data && data.error) { %>
          <div class="error" style="text-align: center;">
            <span >
              <%= data.error %>
            </span>
          </div>
          <% } %>
            <div class="icon">
              <span><i class="fa-regular fa-envelope fa-2xl"></i></span>
              <input type="text" name="email" placeholder="Mời bạn nhập Email tại đây !" id="email" autofocus />
            </div>
            <div>
              <input id="btnNext" type="submit" value="Tiếp tục" />
            </div>
      </form>
      <!-- form -->
      <div class="button">
        <span>Khách hàng</span>
      </div>
      <!-- button -->
    </section>
    <!-- content -->
  </div>
  <!-- container -->
  <script>
    document.getElementById("email").onkeyup = (e) => {
      if (e.target.value) {
        document.getElementById("btnNext").style.background = "rgb(48, 165, 255)";;
        document.getElementById("btnNext").style.border = "1px solid #2494d5";
        document.getElementById("btnNext").style.cursor = "pointer";
      }
      else {
        document.getElementById("btnNext").style.background = "#ddd";;
        document.getElementById("btnNext").style.border = "1px solid";
        document.getElementById("btnNext").style.cursor = "no-drop";
      }
      //rgb(48, 165, 255)
    }
    document.getElementById("btnNext").onclick = (e) => {
      if (!document.getElementById("email").value) {
        e.preventDefault();
      }
      else {
        document.getElementById("btnNext").style.cursor = "pointer";
      }
    }
    // tạo được form quên mật khẩu chưa làm chức năng
  </script>
</body>

</html>