<%- include("./js/head.ejs") %>

<div class="container">
  <section id="content">
    <form method="post">
      <h1>Thay đổi thành công</h1>
      <div>
        <span style="color: brown; font-size: 30px; text-align: center;">Chúc mừng bạn đã thay đổi mật khẩu thành công!</span><br>

      </div>
      <div style="text-align: center;">
        <a><span></span></a>
      </div>
    </form>
    <!-- form -->
    <div class="button">
      <a href="/admin/customers/login"><span style="color: rgb(3, 111, 183);">Quay về đăng nhập</span></a>
    </div>
    <!-- button -->
  </section>
  <!-- content -->
</div>
<!-- container -->

</body>

</html>