<div id="sidebar" class="col-lg-4 col-md-12 col-sm-12">
    <div id="banner">
        <%for(let banner of banners){%>
            <%if(banner.status){%>
        <div class="banner-item">
            <a href="#"><img class="img-fluid" src="../Uploads/images/<%=banner.image%>"></a>
        </div>
            <%}%>
        <%}%>

    </div>
</div>
</div>
</div>
</div>
<!--	End Body	-->
