<div id="news-events-1" style="margin-top: 20px;">
    <h3 class="box-item">CHUYÊN TRANG THƯƠNG HIỆU</h3>
    <div class="row">
        <div class="  col-lg-3 col-md-3 col-sm-12">
            <a href="#">
                <img class="img-fluid " style="border-radius: 10px;"  src="../Uploads/images/news/apple-chinh-hang-home.webp" alt=""><br>
            </a>
        </div>  
        <div class="  col-lg-3 col-md-3 col-sm-12">
            <a href="#">
                <img class="img-fluid"  style="border-radius: 10px;" src="../Uploads/images/news/gian-hang-samsung-home.webp" alt=""><br>
            </a>
        </div>  
        <div class="  col-lg-3 col-md-3 col-sm-12">
            <a href="#">
                <img class="img-fluid"  style="border-radius: 10px;" src="../Uploads/images/news/SIS asus.webp" alt=""><br>
            </a>
        </div>  
        <div class="  col-lg-3 col-md-3 col-sm-12">
            <a href="#">
                <img class="img-fluid" style="border-radius: 10px;"  src="../Uploads/images/news/xiaomi.webp" alt=""><br>
            </a>
        </div>  
    </div>
</div>