<div id="news-events-1" style="margin-top: 20px;">
    <h3 style="color: white;">TIN TỨC CÔNG NGHỆ</h3>
    <div class="row">
        <div class="news-events  col-lg-3 col-md-3 col-sm-12">
            <a href="#">
                <img class="img-fluid" style="border-radius: 10px;  padding-bottom: 5px;" src="../Uploads/images/news/Hieu-nang-Nubia-Neo-2-12-1.webp" alt=""><br>
                <span style="color: whitesmoke;">Có VNPAY, Black Friday - Quà đầy trong giỏ</span>
            </a>
        </div>  
        <div class="news-events  col-lg-3 col-md-3 col-sm-12">
            <a href="#">
                <img class="img-fluid" style="border-radius: 10px; padding-bottom: 5px;" src="../Uploads/images/news/hinh-nen-dien-thoai-dep-Thumbnail.webp" alt="">
                <span style="color: whitesmoke;">120+ hình nền điện thoại đẹp nhất thế giới hiện nay</span>
            </a>
        </div>  
        <div class="news-events  col-lg-3 col-md-3 col-sm-12">
            <a href="#">
                <img class="img-fluid" style="border-radius: 10px; padding-bottom: 5px;" src="../Uploads/images/news/Sennheiser-HD-620S-1.webp" alt="">
                <span style="color: whitesmoke;">Nên dùng máy giặt lồng ngang hay lồng đứng?</span>
            </a>
        </div>  
        <div class="news-events  col-lg-3 col-md-3 col-sm-12">
            <a href="#">
                <img class="img-fluid" style="border-radius: 10px; padding-bottom: 5px;" src="../Uploads/images/news/top-phu-kien-laptop-3.webp" alt="">
                <span style="color: whitesmoke;">Những lợi ích ít biết của máy sấy quần áo</span>
            </a>
        </div>  
    </div>
</div>