<div id="news-events-1" style="margin-top: 20px;">
    <h3 style="color: rgb(19, 16, 16)">TIN TỨC CÔNG NGHỆ</h3>
    <div class="row">
        <div class="news-events  col-lg-3 col-md-3 col-sm-12">
            <a href="#">
                <img class="img-fluid" style="border-radius: 10px;  padding-bottom: 5px;" src="../Uploads/images/news/Hieu-nang-Nubia-Neo-2-12-1.webp" alt=""><br>
                <span style="color:rgb(19, 16, 16);">Đánh giá hiệu năng Nubia Neo 2: Gaming phone duy nhất trong phân khúc 5 triệu, trigger cảm ứng quá phê</span>
            </a>
        </div>  
        <div class="news-events  col-lg-3 col-md-3 col-sm-12">
            <a href="https://cellphones.com.vn/sforum/hinh-nen-dien-thoai-dep">
                <img class="img-fluid" style="border-radius: 10px; padding-bottom: 5px;" src="../Uploads/images/news/hinh-nen-dien-thoai-dep-Thumbnail.webp" alt="">
                <span style="color:rgb(19, 16, 16);">120+ hình nền điện thoại đẹp nhất thế giới hiện nay</span>
            </a>
        </div>  
        <div class="news-events  col-lg-3 col-md-3 col-sm-12">
            <a href="#">
                <img class="img-fluid" style="border-radius: 10px; padding-bottom: 5px;" src="../Uploads/images/news/Sennheiser-HD-620S-1.webp" alt="">
                <span style="color:rgb(19, 16, 16);">Tai nghe Sennheiser HD 620S ra mắt với driver 42mm, thiết kế đeo thoải mái, giá 8.9 triệu đồng</span>
            </a>
        </div>  
        <div class="news-events  col-lg-3 col-md-3 col-sm-12">
            <a href="#">
                <img class="img-fluid" style="border-radius: 10px; padding-bottom: 5px;" src="../Uploads/images/news/top-phu-kien-laptop-3.webp" alt="">
                <span style="color: rgb(19, 16, 16);">Những phụ kiện laptop mà sinh viên nào cũng cần có, giá chỉ bằng 1 ly trà sữa</span>
            </a>
        </div>  
    </div>
</div>