<div id="news-events-1" style="margin-top: 20px;">
    <h3 style="color: rgb(19, 16, 16) ">ƯU ĐÃI THANH TOÁN</h3>
    <div class="row">
        <div class="  col-lg-3 col-md-3 col-sm-12">
            <a href="#">
                <img class="img-fluid " style="border-radius: 10px;"  src="../Uploads/images/news/momo-5-04-2024-slide.webp" alt=""><br>
            </a>
        </div>  
        <div class="  col-lg-3 col-md-3 col-sm-12">
            <a href="#">
                <img class="img-fluid"  style="border-radius: 10px;" src="../Uploads/images/news/uu-dai-thanh-toan-hsbc-0803-2024.webp" alt=""><br>
            </a>
        </div>  
        <div class="  col-lg-3 col-md-3 col-sm-12">
            <a href="#">
                <img class="img-fluid"  style="border-radius: 10px;" src="../Uploads/images/news/uu-dai-vppay-apple-080324.webp" alt=""><br>
            </a>
        </div>  
        <div class="  col-lg-3 col-md-3 col-sm-12">
            <a href="#">
                <img class="img-fluid" style="border-radius: 10px;"  src="../Uploads/images/news/vib-update-01-04-20241.webp" alt=""><br>
            </a>
        </div>  
    </div>
</div>