<div id="news-events-1" style="margin-top: 20px;">
    <h3 style="color: white;">ƯU ĐÃI SINH VIÊN</h3>
    <div class="row">
        <div class="news-events  col-lg-3 col-md-3 col-sm-12">
            <a href="#">
                <img class="img-fluid " style="border-radius: 10px;"  src="../Uploads/images/news/uu-dai-sinh-vien-tong-smember-30.webp" alt=""><br>
            </a>
        </div>  
        <div class="news-events  col-lg-3 col-md-3 col-sm-12">
            <a href="#">
                <img class="img-fluid"  style="border-radius: 10px;" src="../Uploads/images/news/uu-dai-laptop-smember-30.webp" alt=""><br>
            </a>
        </div>  
        <div class="news-events  col-lg-3 col-md-3 col-sm-12">
            <a href="#">
                <img class="img-fluid"  style="border-radius: 10px;" src="../Uploads/images/news/uu-dai-samsung-smember-30.webp" alt=""><br>
            </a>
        </div>  
    </div>
</div>