<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Vietpro Mobile Shop - Administrator</title>


<base href="/static/admin/">
<link href="css/bootstrap.min.css" rel="stylesheet">
<link href="css/datepicker3.css" rel="stylesheet">
<link href="css/bootstrap-table.css" rel="stylesheet">
<link href="css/styles.css" rel="stylesheet">

<!--[if lt IE 9]>
<script src="js/html5shiv.js"></script>
<script src="js/respond.min.js"></script>
<![endif]-->

</head>

<body>
	
	<div class="row">
		<div class="col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2 col-md-4 col-md-offset-4">
			<div style="text-align: center;" class="login-panel panel panel-default">
				<div class="panel-heading">Vietpro Mobile Shop</div>
				<div class="panel-body">
                    <p>Chúc mừng KHÁCH HÀNG đã đăng kí thành công.</p>
                    <p>Mời bạn <a href="/admin/customers/login">Click Here</a> để quay về trang đăng nhập</p>
				</div>  
			</div>
		</div><!-- /.col-->
	</div><!-- /.row -->	
</body>

</html>
